In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1137,tt0264395,50000000,42792561,Basic,John Travolta|Connie Nielsen|Samuel L. Jackson...,John McTiernan,Deception is their most deadly weapon.,A DEA agent investigates the disappearance of ...,98,Action|Drama|Mystery|Thriller|Crime,Intermedia Films|Krane Entertainment,4/18/2003,6.0,2003
1503,tt0430304,64000000,101595121,Little Man,Marlon Wayans|Shawn Wayans|Kerry Washington|Jo...,Keenen Ivory Wayans,Big things come in small packages,"After leaving the prison, the dwarf criminal C...",98,Comedy|Crime,Revolution Studios|Wayans Bros. Entertainment,8/31/2006,5.6,2006
570,tt0233142,62000000,18720175,3000 Miles to Graceland,Kurt Russell|Kevin Costner|Courteney Cox|Chris...,Demian Lichtenstein,Crime Is King.,It was an ingenious enough plan: rob the Rivie...,125,Action|Adventure|Comedy|Thriller|Crime,Franchise Pictures|Warner Bros.|Morgan Creek P...,2/23/2001,5.4,2001
515,tt0215750,70000000,96976270,Enemy at the Gates,Jude Law|Rachel Weisz|Ed Harris|Joseph Fiennes...,Jean-Jacques Annaud,Some Men Are Born To Be Heroes.,Enemy at the Gates is a war film from Jean-Jac...,131,War,Paramount Pictures|Swanford Films|Mandalay Pic...,3/13/2001,7.1,2001
1179,tt1981115,170000000,479765000,Thor: The Dark World,Chris Hemsworth|Natalie Portman|Tom Hiddleston...,Alan Taylor,Delve into the darkness,Thor fights to restore order across the cosmos...,112,Action|Adventure|Fantasy,Marvel Studios,10/29/2013,6.8,2013

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']
display(data)
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [143]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [10]:
# тут пишем ваш код для решения данного вопроса:
# делаем группировку по названию фильмов и бюджету
budget = data.groupby(['original_title'])['budget'].max().sort_values(ascending=False)
display(budget)

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Pirates of the Caribbean: At World's End       300000000
Avengers: Age of Ultron                        280000000
Tangled                                        260000000
John Carter                                    260000000
                                                 ...
Spring Breakers                                  5000000
The Last Exorcism Part II                        5000000
Apollo 18                                        5000000
Paranormal Activity: The Marked Ones             5000000
Clerks II                                        5000000
Name: budget, Length: 1887, dtype: int64

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [144]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [14]:
# группировка по названию и длительности
runtime = data.groupby(['original_title'])['runtime'].max().sort_values(ascending=False)
display(runtime)

original_title
Gods and Generals                                214
The Lord of the Rings: The Return of the King    201
Grindhouse                                       191
King Kong                                        187
Pearl Harbor                                     183
                                                ...
Valiant                                           76
Home on the Range                                 76
The Jungle Book 2                                 72
Return to Never Land                              72
Winnie the Pooh                                   63
Name: runtime, Length: 1887, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)?

In [145]:
# группировка по названию и длительности
runtime_min = data.groupby(['original_title'])['runtime'].min().sort_values(ascending=True)
display(runtime_min)

original_title
Winnie the Pooh                                   63
Return to Never Land                              72
The Jungle Book 2                                 72
Home on the Range                                 76
Valiant                                           76
                                                ...
Pearl Harbor                                     183
King Kong                                        187
Grindhouse                                       191
The Lord of the Rings: The Return of the King    201
Gods and Generals                                214
Name: runtime, Length: 1887, dtype: int64

In [19]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [20]:
runtime_mean = data['runtime'].mean()
display(runtime_mean)

109.6585494970884

In [146]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [147]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [24]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# группировка по прибыли и названию
film_max = data.groupby(['original_title'])['profit'].max().sort_values(ascending=False)
display(film_max)

original_title
Avatar                          2544505847
Star Wars: The Force Awakens    1868178225
Jurassic World                  1363528810
Furious 7                       1316249360
The Avengers                    1299557910
                                   ...
Flushed Away                     -84540684
The Adventures of Pluto Nash     -92896027
Mars Needs Moms                 -111007242
The Alamo                       -119180039
The Lone Ranger                 -165710090
Name: profit, Length: 1887, dtype: int64

In [148]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [25]:
film_min = data.groupby(['original_title'])['profit'].min().sort_values(ascending=True)
display(film_min)

original_title
The Lone Ranger                 -165710090
The Alamo                       -119180039
Mars Needs Moms                 -111007242
The Adventures of Pluto Nash     -92896027
Flushed Away                     -84540684
                                   ...
The Avengers                    1299557910
Furious 7                       1316249360
Jurassic World                  1363528810
Star Wars: The Force Awakens    1868178225
Avatar                          2544505847
Name: profit, Length: 1887, dtype: int64

In [149]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [29]:
revenue_max = data[data['profit'] > 0]
len(revenue_max)

1478

In [150]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [33]:
release_year = data[data['release_year'] == 2008].groupby(by = 'original_title')['revenue'].agg('max').sort_values(ascending=False)
display(release_year)

original_title
The Dark Knight                                       1001921825
Indiana Jones and the Kingdom of the Crystal Skull     786636033
Kung Fu Panda                                          631744560
Hancock                                                624029371
Mamma Mia!                                             609841637
                                                         ...
What Just Happened                                       6673422
Transsiberian                                            5926410
The Brothers Bloom                                       5530764
The Midnight Meat Train                                  3533227
Mutant Chronicles                                        2033165
Name: revenue, Length: 121, dtype: int64

In [151]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [36]:
release_year2 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].groupby(by = 'original_title')['profit'].agg('min').sort_values(ascending=False)
display(release_year2)

original_title
The Avengers                       1299557910
Frozen                             1124219009
Iron Man 3                         1015439994
Skyfall                             908561013
Despicable Me 2                     894761885
                                      ...
Bullet to the Head                  -45510171
Legends of Oz: Dorothy's Return     -51337973
Upside Down                         -51893525
R.I.P.D.                            -68351500
The Lone Ranger                    -165710090
Name: profit, Length: 367, dtype: int64

In [152]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [22]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
# используем цикл,разделяя жанры,подсчитываем количество фильмов по жанрам
genre_max = Counter()
for x in data.genres.str.split('|'):
    genre_max += Counter(x)
genre_max.most_common(1) #most_common([n]) - возвращает n наиболее часто встречающихся элементов, в порядке убывания встречаемости.

[('Drama', 782)]

In [153]:
answers['11'] = 'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [42]:
data_tmp = data[data['profit'] > 0]# сортировка по брибыли выше нуля
pd.Series((data_tmp.genres.str.split('|').sum())).value_counts().index[0] #выделяем жанры,приводим к строке, возвращаем в тип series

'Drama'

In [154]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [44]:
df = data.copy()
df['dirs'] = df['director'].str.split('|') #преобразовываем  режиссеров в строки,разделяем
dirs_cut = df.explode('dirs')#добавляем режиссеров в новый датасет
data_grp = dirs_cut.groupby(['dirs']).revenue.sum()#группировка по режиссерам и сборам
data_grp.sort_values(ascending =False)#сортировка

dirs
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [38]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [135]:
df = data[data.genres.str.contains('Action')] #выделение жанра Action
df['dirs'] = df['director'].str.split('|')
dirs_cut1 = df.explode('genres')
dirs_cut1.director.value_counts().sort_values(ascending =False)

C:\Users\79117\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Robert Rodriguez      6
Ridley Scott          6
                     ..
Richard Shepard       1
John Dahl             1
Mike Newell           1
John Herzfeld         1
Feng Xiaogang         1
Name: director, Length: 345, dtype: int64

In [37]:
#df = data[data.genres.str.contains('Action')] #выделение жанра Action
df['dirs'] = df['director'].str.split('|')
dirs_cut1 = df.explode('genres')
dirs_cut1[dirs_cut1.genres.str.contains('Action')].director.value_counts().sort_values(ascending =False)

Michael Bay                    7
Paul W.S. Anderson             7
Ridley Scott                   6
Robert Rodriguez               6
Antoine Fuqua                  6
                              ..
Kurt Wimmer                    1
Andy Fickman                   1
Don Hall|Chris Williams        1
Tim Burton                     1
Chad Stahelski|David Leitch    1
Name: director, Length: 345, dtype: int64

In [156]:
answers['14'] = 'Robert Rodriguez'

In [109]:
df = data[data.genres.str.contains('Action')]
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,5.8,2015,285603537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1880,tt0190374,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,12/8/2000,3.9,2000,-19814759
1882,tt0217756,24000000,12372410,Ready to Rumble,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,Brian Robbins,They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action|Comedy|Drama,Bel Air Entertainment|Warner Bros.,4/7/2000,4.4,2000,-11627590
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [128]:
df = data.copy()
df['cast'] = df['cast'].str.split('|')
dirs_cut = df.explode('cast')
data_grp = dirs_cut[dirs_cut['release_year'] == 2012].groupby(['cast']).revenue.sum()#группировка по актеру и кассовым сборам, сортировка по году
data_grp.sort_values(ascending =False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [157]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [80]:
df = data.copy()
df['cast'] = df['cast'].str.split('|')
cast_cut = df.explode('cast')
data_grp = cast_cut[cast_cut['budget'] > 5.431083e+07].cast.value_counts()#сортировка по бюджету и группировка по актеру
data_grp

Matt Damon          18
Adam Sandler        17
Angelina Jolie      16
Eddie Murphy        15
Tom Cruise          15
                    ..
Eli Wallach          1
Hugh Keays-Byrne     1
Mathieu Amalric      1
James Karen          1
Phyllis Smith        1
Name: cast, Length: 1505, dtype: int64

In [158]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [29]:
df = data.copy()
df['genre'] = df['genres'].str.split('|')
genr = df.explode('genre')
data_grp4 = genr[genr.cast.str.contains('Nicolas Cage')].genre.value_counts().sort_values(ascending =False)
data_grp4

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
War                 1
Romance             1
Horror              1
Name: genre, dtype: int64

In [159]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [6]:
dataframe = data[data.production_companies.str.contains('Paramount Pictures')]
filmin = dataframe.groupby(['original_title'])['profit'].min().sort_values(ascending=True)
filmin

original_title
K-19: The Widowmaker                                  -64831034
Timeline                                              -60519261
Next                                                  -51788987
Alfie                                                 -46604061
Twisted                                               -24805000
                                                        ...
Mission: Impossible - Ghost Protocol                  549713380
Transformers                                          559709780
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers: Revenge of the Fallen                   686297228
Transformers: Dark of the Moon                        928746996
Name: profit, Length: 122, dtype: int64

In [8]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [11]:
year = data.groupby(by = ['release_year'])['revenue'].sum().sort_values(ascending = False)
year

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [14]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [12]:
WB = data[data.production_companies.str.contains('Warner Bros')]#сортировка по студии
year1 = WB.groupby(by = ['release_year'])['profit'].sum().sort_values(ascending = False)#группировка по прибыли и году
year1

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [13]:
answers['19'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [111]:
#data['release_date']= pd.to_datetime(data['release_date'])
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')#переводим дату в формат даты и время
data['Month'] = data['release_date'].dt.month #извлекаем месяц
month = data.groupby(by = ['Month'])['original_title'].count().sort_values(ascending = False)
month

Month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

In [112]:
answers['21'] = '09'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [114]:
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')
data['Month'] = data['release_date'].dt.month
month1 = data[(data['Month'] >= 6) & (data['Month'] <= 8)].groupby(by = ['Month'])['original_title'].count().sort_values(ascending = False)
month1.sum()

450

In [115]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [32]:
df = data.copy()
df['dirs'] = df['director'].str.split('|')
dirs2 = df.explode('dirs')
dirs2['release_date'] = pd.to_datetime(dirs2['release_date'], errors='coerce')# используем значение errors='coerce', чтобы не было ошибки
dirs2['Month'] = dirs2['release_date'].dt.month
data_new = dirs2[dirs2['Month'].isin([12,1,2])]#передаем номера месяцев
month2 = data_new.groupby(by = ['dirs'])['original_title'].count().sort_values(ascending = False)
month2

dirs
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: original_title, Length: 358, dtype: int64

In [33]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [34]:
df = data.copy()
df['production_companies'] = df['production_companies'].astype('str')#переводим в тип строка
df['production_companies'] = df['production_companies'].str.split('|')
produc_comp = df.explode('production_companies')#создаем новый датафрейм с колонкой студия
produc_comp['len'] = produc_comp['original_title'].str.len() #считаем длину названия
p_c = produc_comp.groupby(['production_companies']).len.max().sort_values(ascending =False)#находим максимальную длину и сортируем, группируем
p_c

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
XM2 Productions                            2
Global Entertainment Group                 2
Ixtlan Productions                         2
Name: len, Length: 1771, dtype: int64

In [79]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [35]:
df = data.copy()
df['production_companies'] = df['production_companies'].astype('str')
df['production_companies'] = df['production_companies'].str.split('|')
produc_comp1 = df.explode('production_companies')
produc_comp1['len'] = produc_comp1['overview'].str.len() 
p_c1 = produc_comp1.groupby(['production_companies']).len.max().sort_values(ascending =False)
p_c1

production_companies
Midnight Picture Show                    1000
Lakeshore Entertainment                  1000
GreeneStreet Films                       1000
Lions Gate Films                         1000
Room 9 Entertainment                      964
                                         ...
Projection Pictures                        74
Henceforth                                 74
Phantom Four                               72
Empire Pictures                            62
Motion Picture Corporation of America      59
Name: len, Length: 1771, dtype: int64

In [81]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [82]:
data.loc[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [84]:
answers['26'] = {'1': 'Inside Out', 
                 '2': 'Room', 
                 '3': 'Interstellar', 
                 '4': 'Guardians of the Galaxy', 
                 '5': 'The Imitation Game', 
                 '6': 'Gone Girl',
                '7': ' The Grand Budapest Hotel',
                 '8':'Inception', 
                 '9': 'The Dark Knight', 
                 '10': 'The Pianist',
                 '11': 'The Lord of the Rings: The Return of the King', 
                 '12': 'The Wolf of Wall Street', 
                 '13': '12 Years a Slave', 
                 '14': 'Memento'}

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [36]:
import itertools
from itertools import combinations
list_cas = data.cast.apply(lambda x: list(combinations(x.split('|'), 2))).tolist()#используем функцию, метод combinations и преобразовываем данные в список
flattened = pd.DataFrame(list_cas).stack()#обворачиваем созданный список в датафрейм
pd.Series(flattened).value_counts().index[0] #находим частоту по индексу 0

('Daniel Radcliffe', 'Rupert Grint')

In [40]:
answers['27'] = {'Daniel Radcliffe', 'Rupert Grint'}

# Submission

In [160]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': {'1': 'Inside Out',
  '2': 'Room',
  '3': 'Interstellar',
  '4': 'Guardians of the Galaxy',
  '5': 'The Imitation Game',
  '6': 'Gone Girl',
  '7': ' The Grand Budapest Hotel',
  '8': 'Inception',
  '9': 'The Dark Knight',
  '10': 'The Pianist',
  '11': 'The Lord of the Rings: The Return of the King',
  '12': 'The Wolf of Wall Street',
  '13': '12 Years a Slave',
  '14': 'Memento'},
 '21': '09',
 '22': '450',
 '23': 'Steven Soderbergh',
 '1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)